{% extends 'base.html' %}

{% block content %}

  <h3>Archived tours</h3> 
  <hr><br>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <div class="table-responsive">
    <table class="table table-hover table-sm caption-top" style='font-size:90%'>
      
            <tr>
              <th>Tour<br/>name</th>
                <th>Requestor<br/>name</th>
                <th>POC<br/>name</th>
                <th>Division</th>
                <th>Location</th>
                <th>Date</th>
                <th>Start time</th>
                <th>End time </th>
                <th>Nocc<br/>required?</th>
                <th>Category</th>
                <th>Attendees<br/>akamai</th>
                <th>Attendees<br/>guests</th>
                <th>Customer<br/>or group name</th>
                <th>Nocc Personnel<br/>assigned</th>
                <th>Status</th>
            </tr>
            <tbody id="myTable"> 
      {%for tour in tours %}
            <tr {%if tour.status == "Approved" %} class="table-success" {% elif tour.status == "Rejected" %} class="table-danger" {% elif tour.status == "Canceled" %} class="table-secondary" 
            {% else %} class="table-warning" {% endif %}>
              <td>{{tour.tour_name}}</td>
                <td>{{tour.requestor_name}}</td>
                <td>{{tour.poc_name}}</td>
                <td>{{tour.division}}</td>
                <td>{{tour.location}}</td>
                <td>{{tour.date}}</td>
                <td>{{tour.start_time}}</td>
                <td>{{tour.end_time}}</td>
                <td>{{tour.nocc_personnel_required}}</td>
                <td>{{tour.category}}</td>
                <td>{{tour.attendees_akamai}}</td>
                <td>{{tour.attendees_guests}}</td>
                <td>{{tour.customer_or_group_name}}</td>
                <td>{{tour.nocc_person_assigned}}</td>
                <td>{{tour.status}}</td>
                {% if request.user.is_authenticated %}
                {% endif %}
            </tr>
          
      {% endfor %}
</tbody>
</table>
</div>



<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>

{% endblock %}