{% extends "base.html" %}
{% block content %}
    <h4>
        <b>Calendar</b>
    </h4>
    <hr/>
    <form class="row justify-content-center pb-4" action="" method="post">
        {% csrf_token %}
        <div class="col-2">
            <label for="location">Location:</label>
            <select class="form-select"
                    type="location"
                    id="location"
                    name="location"
                    value="{{ location }}"
                    onchange="this.form.submit()">
                <option value="All" {% if location_query == "All" %} selected{% endif %}>
                    All
                </option>
                <option value="Cambridge"
                        {% if location_query == "Cambridge" %} selected{% endif %}>
                    Cambridge
                </option>
                <option value="Krakow"
                        {% if location_query == "Krakow" %} selected{% endif %}>
                    Kraków
                </option>
                <option value="Bangalore"
                        {% if location_query == "Bangalore" %} selected{% endif %}>
                    Bangalore
                </option>
            </select>
        </div>
        <div class="col-2">
            <label for="month">Month:</label>
            <select class="form-control" id="month" name="month" value="{{ month }}">
                <option value="01" {% if month == 1 %} selected{% endif %}>
                    January
                </option>
                <option value="02" {% if month == 2 %} selected{% endif %}>
                    February
                </option>
                <option value="03" {% if month == 3 %} selected{% endif %}>
                    March
                </option>
                <option value="04" {% if month == 4 %} selected{% endif %}>
                    April
                </option>
                <option value="05" {% if month == 5 %} selected{% endif %}>
                    May
                </option>
                <option value="06" {% if month == 6 %} selected{% endif %}>
                    June
                </option>
                <option value="07" {% if month == 7 %} selected{% endif %}>
                    July
                </option>
                <option value="08" {% if month == 8 %} selected{% endif %}>
                    August
                </option>
                <option value="09" {% if month == 9 %} selected{% endif %}>
                    September
                </option>
                <option value="10" {% if month == 10 %} selected{% endif %}>
                    October
                </option>
                <option value="11" {% if month == 11 %} selected{% endif %}>
                    November
                </option>
                <option value="12" {% if month == 12 %} selected{% endif %}>
                    December
                </option>
            </select>
        </div>
        <div class="col-2">
            <label for="year">Year:</label>
            <select class="form-select"
                    type="date"
                    id="year"
                    name="year"
                    value="{{ year }}"
                    onchange="this.form.submit()">
                {% for year_option in year_range %}
                    <option value="{{ year_option }}"
                            {% if year == year_option %} selected{% endif %}>
                        {{ year_option }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <!-- <div class="col-1 align-self-center">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div> -->
    </form>
    <div class="table-responsive col-8 justify-content-center container pb-5">
        <table class="table table-bordered center-block">
            <thead class="table-dark">
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thr</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody>
                {% for week in month_dates %}
                    <tr>
                        {% for day in week %}
                            <td {% for tour in tours %} {% if tour.date == day %} class="day_with_tour {% if today == day %}table-primary {% else %}table-secondary{% endif %}"
                                id="{{ day|date:"Y-n-d" }}"
                                {% endif %}
                                {% endfor %}
                                {% if today == day %}class="table-primary"{% endif %}>
                                {% if day.month == month %}
                                    <b>{{ day.day }}</b>
                                {% else %}
                                    {{ day.day }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="tours_table" class="table-responsive">
        <h4 id="date_head">
            <b> NOCC Tours for {{ date }} </b>
        </h4>
        <hr/>
        <table class="table table-hover table-sm caption-top" style="font-size:90%">
            <thead>
                <tr>
                    <th scope="col">Tour name</th>
                    <th scope="col">
                        Requestor
                        <br/>
                        name
                    </th>
                    <th scope="col">
                        Requestor
                        <br/>
                        email
                    </th>
                    <th scope="col">
                        Alternate
                        <br/>
                        contact
                    </th>
                    <th scope="col">
                        Attendees
                        <br/>
                        akamai
                    </th>
                    <th scope="col">
                        Attendees
                        <br/>
                        guests
                    </th>
                    <th scope="col">
                        Nocc
                        <br/>
                        required?
                    </th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <th scope="col">Start time</th>
                    <th scope="col">End time</th>
                    <th scope="col">Status</th>
                    <th scope="col">
                        Nocc Person
                        <br/>
                        Assigned?
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for week in month_dates %}
                {% for day in week %}
                    {% for tour in tours %}
                        {% if day == tour.date %}
                            <tbody class="day_tours {{ day|date:"Y-n-d" }}" class="table-group-divider">
                                <tr {% if tour.status == "Approved" %} class="table-success" {% elif tour.status == "Rejected" %} class="table-danger" {% else %} class="table-warning" {% endif %}>
                                    <td>{{ tour.tour_name }}</td>
                                    <td>{{ tour.requestor_name }}</td>
                                    <td>{{ tour.requestor_email }}</td>
                                    <td>{{ tour.alternate_contact }}</td>
                                    <td>{{ tour.attendees_akamai }}</td>
                                    <td>{{ tour.attendees_guests }}</td>
                                    <td>{{ tour.nocc_personnel_required }}</td>
                                    <td>{{ tour.location }}</td>
                                    <td>{{tour.date|date:"m-d-Y"}}</td>
                                    <td>{{tour.start_time|time:"H:i"}}</td>
                                    <td>{{tour.end_time|time:"H:i"}}</td>
                                    <td>
                                        {{ tour.status }}
                                    </td>
                                    <td>
                                        {{ tour.nocc_person_assigned }}
                                    </td>
                                    {% if request.user.is_authenticated %}
                                        <td>
                                            <form>
                                                {% csrf_token %}
                                                <button class="btn btn-light btn-sm"
                                                        formaction="/tour-details/{{ tour.id }}/">
                                                    Details
                                                </button>
                                            </form>
                                        </td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
        <hr/>
        <div>
            <h5 id="date_foot">
                Tours in total:
            </h5>
        </div>
    </div>
    <script>
        //f_hide_all();
        select_month = document.getElementById("month");
        month = select_month[select_month.selectedIndex].text;
        var head = document.getElementById("date_head");
        head.innerHTML = "NOCC Tours for " + month;
        count_tours();

        let clickers = document.getElementsByClassName("day_with_tour");
        for (const clicker of clickers) {
            clicker.addEventListener('click', f_show);
        }

        function f_hide_all() {
            let tours_table = document.getElementById("tours_table");
            tours_table.hidden = true;
            let day_tours = document.getElementsByClassName("day_tours");
            for (const day_tour of day_tours) {
                day_tour.hidden = true;
            }
        }

        function f_show() {
            f_hide_all();
            let tours_table = document.getElementById("tours_table");
            tours_table.hidden = false;
            const date = this.attributes.id.value;
            var head = document.getElementById("date_head");
            head.innerHTML = "NOCC Tours for " + date;
            var day_table = tours_table.getElementsByClassName(date);
            for (day of day_table){
                day.hidden = false;
            }
            count_tours();
        }

        function count_tours() {
            let day_tours = document.getElementsByClassName("day_tours");
            let tour_count = Array.from(day_tours).filter(tour => tour.hidden == false).length;

            var foot = document.getElementById("date_foot");
            foot.innerHTML = " Tours in total: " + tour_count
        }

        $('#month').on('change', function(){
            $(this).closest('form').submit();
        });

    </script>
{% endblock content %}
