{% extends 'base.html' %}

{% block content %}

  <div class="col-lg-11 mx-auto bg-light">
      <h2>New tour</h2>
      <hr>
      <div class="mb-2 px-4">
      <form class="row gx-4 gy-3" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="col-sm">
             {{ field.label_tag }} {{ field }} <i><small style="color:#9e9e9e">{{ field.help_text }}</small></i>
          </div>
        {% endfor %}
      </div>
      <div class="px-4 py-3 my-3 text-center">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
      </form>
      </div>

  <div class="b-example-divider"></div>

  <div class="col-lg-11 mx-auto">


  <h2>Scheduled tours</h2> 
  <hr>
  <div class="table-responsive">
    <table class="table table-hover table-sm caption-top">
      
            <tr>
                <th>Tour name</th>
                <th>Requestor name</th>
                <th>Requestor email</th>
                <th>Alternate contact</th>
                <th>Attendees akamai</th>
                <th>Attendees guests</th>
                <th>Nocc required</th>
                <th>Location</th>
                <th>Date</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Approved</th>
                <th>Nocc Person Assigned</th>
                <th></th>
            </tr>
          
      {%for tour in tours %}
            <tr {%if tour.approved == True %} class="table-success" {% else %} class="table-secondary" {% endif%}>
                <td>{{tour.tour_name}}</td>
                <td>{{tour.requestor_name}}</td>
                <td>{{tour.requestor_email}}</td>
                <td>{{tour.alternate_contact}}</td>
                <td>{{tour.attendees_akamai}}</td>
                <td>{{tour.attendees_guests}}</td>
                <td>{{tour.nocc_required}}</td>
                <td>{{tour.location}}</td>
                <td>{{tour.date}}</td>
                <td>{{tour.start_time}}</td>
                <td>{{tour.end_time}}</td>
                <td>{{tour.approved}}</td>
                <td>{{tour.nocc_person_assigned}}</td>
                {% if request.user.is_authenticated %}
                <td><a href="/tour-details/{{tour.id}}">Details</a></td>
                {% endif %}
            </tr>
          
      {% endfor %}

</table>
</div>
</div>


{% endblock %}