{% extends "base.html" %}
{% block content %}


    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2 ms-auto"><a href="/new-tour/"><button class="btn btn-primary" type="button"> Request a new tour </button></a></div>
    </div>
  
  <br><br>

  <h4> <b>Upcoming scheduled visits and tour requests</b> </h4>
  <hr/><br>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
  <div class="table-responsive">
    <table class="table table-hover table-sm" style='font-size:90%'>
      <thead>
            <tr>
                <th scope="col">Tour name</th>
                <th scope="col">Requestor<br/>name</th>
                <th scope="col">POC<br/>name</th>
                <th scope="col">Division</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Start time</th>
                <th scope="col">End time </th>
                <th scope="col">Nocc<br/>required?</th>
                <th scope="col">Category</th>
                <th scope="col">Attendees<br/>akamai</th>
                <th scope="col">Attendees<br/>guests</th>
                <th scope="col">Feedback<br>status</th>
                <th scope="col">Nocc Personnel<br/>assigned</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
    </thead>
            <tbody id="myTable" class="table-group-divider">
      {%for tour in tours %}
            <tr {%if tour.status == "Approved" %} class="table-success" {% else %} class="table-warning" {% endif %}>
                <td>{{tour.tour_name}}</td>
                <td>{{tour.requestor_name}}</td>
                <td>{{tour.poc_name}}</td>
                <td>{{tour.division}}</td>
                <td>{{tour.location}}</td>
                <td>{{tour.date}}</td>
                <td>{{tour.start_time}}</td>
                <td>{{tour.end_time}}</td>
                <td>{{tour.nocc_personnel_required}}</td>
                <td>{{tour.category}}</td>
                <td>{{tour.attendees_akamai}}</td>
                <td>{{tour.attendees_guests}}</td>
                <td>{{tour.feedback_status}}</td>
                <td>{{tour.nocc_person_assigned}}</td>
                <td>{{tour.status}}</td>
                {% if request.user.is_authenticated %}
                <td>
                  <form>
                    {% csrf_token %}
                  <button class="btn btn-light btn-sm" formaction="/tour-details/{{tour.id}}/">Details</button>
                </form> 
                </td>
                {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>



  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
{% endblock %}
