{% extends 'base.html' %}

{% block content %}

    <div class="container-md mx-auto col-8">
      
      <h3 class="text-center"> <b> New visit request form </b> </h3>
      <hr>
      <h6>Scheduling a NOCC tour is as simple as submitting a NOCC Tour request form. After your request has been submitted, 
        someone from our NOCC team will be in touch with you. 
       ***Please note that a NOCC Tour person may not be available for the selected day, but we will try our best to accommodate your request </h6>
        <br>

       <form action="" method="post">
        {% csrf_token %}
        
      <!-- {% for field in form %}
            <div class="form-floating my-2">
              {{ field }}
              <label class="px-4" for="{{ field.auto_id }}"> {{ field.label }} </label>
              <i><small style="color:#9e9e9e">{{field.help_text}}</small></i></th>
              <i><small style="color:#e70a0a"> {{ field.errors }} </small></i>
            </div>
          {% endfor %}
        -->

      <fieldset class="rounded p-2 my-2 bg-light shadow">
        <legend>Visit details</legend>
        <div class="row">
        <div class="col">
        <div class="form-floating my-2">
          {{ form.location }}
          <label class="px-4" for="{{form.location.id_for_label}}"> {{ form.location.label }} <span style="color:#e70a0a">*</span> </label>
          <i><small style="color:#e70a0a"> {{form.location.errors }} </small></i>
        </div>
        </div>
        <div class="col">
          <div class="form-floating my-2">
           {{ form.date }}
            <label class="px-4" for="{{form.date.id_for_label}}"> Date <span style="color:#e70a0a">*</span></label>
            <i><small style="color:#e70a0a"> {{form.date.errors }} </small></i>
          </div>
          </div>
        </div>


        <div class="row">
    
          <div class="col">
            <label class="px-4" for="id_start_time"> Start time <span style="color:#e70a0a">*</span> <i><small style="color:#9e9e9e"> local for selected location </small></i></label>
            <select id="id_start_time" name="start_time" class="form-control form-control-sm" placeholder="Start time" required 
            onmousedown="if(this.options.length>5){this.size=5;}"  onchange='this.size=0;' onblur="this.size=0;">
            </select>
            <i><small style="color:#e70a0a"> {{form.start_time.errors }} </small></i>
            </div>
  
            <div class="col">
              <label class="px-4" for="id_end_time"> End time <span style="color:#e70a0a">*</span><i><small style="color:#9e9e9e"> local for selected location </small></i> </label>
                <select id="id_end_time" name="end_time" class="form-control form-control-sm" placeholder="End time" required
                onmousedown="if(this.options.length>5){this.size=5;}"  onchange='this.size=0;' onblur="this.size=0;">
                </select>
                <i><small style="color:#e70a0a"> {{form.end_time.errors}}</small></i>
                </div>
          </div>

        <div class="row">
    
        <!-- <div class="col">
        <div class="form-floating my-2">
          <select id="id_time_slot_selection" name="time_slot_selection" class="form-control form-control-sm" placeholder="Time slot selection" required>
          </select>
          <label class="px-4" for="id_time_slot_selection"> Time slot selection </label>
          </div>
          </div> -->

          <div class="col">
            <div class="form-floating my-2">
              {{ form.nocc_personnel_required }}
              <label class="px-4" for="{{ form.nocc_personnel_required.id_for_label }}"> {{ form.nocc_personnel_required.label }} </label>
              <i><small style="color:#e70a0a"> {{form.nocc_personnel_required.errors }} </small></i>
              </div>
              </div>

        </div>        
      </fieldset><br>

        <fieldset class="rounded  p-2 my-2 bg-light shadow">
          <legend>Basic Information</legend>
          <div class="row">
            <div class="col">
          <div class="form-floating my-2">
            {{ form.requestor_name }}
            <label class="px-4" for="{{ form.requestor_name.id_for_label}}"> {{ form.requestor_name.label }} <span style="color:#e70a0a">*</span> </label>
            <i><small style="color:#e70a0a"> {{form.requestor_name.errors }} </small></i>
          </div>
          </div>
          <div class="col">
          <div class="form-floating my-2">
            {{ form.requestor_email }}
            <label class="px-4" for="{{ form.requestor_email.id_for_label }}"> {{ form.requestor_email.label }} <span style="color:#e70a0a">*</span></label>
            <i><small style="color:#e70a0a"> {{form.requestor_email.errors }} </small></i>
            </div>
            </div>
          </div>
        </fieldset><br>

        <fieldset class="rounded p-2 my-2 bg-light shadow">
          <legend>Point of Contact</legend>
          <i><small style="color:#9e9e9e">The Point of Contact is the person who is responsible for this group from within Akamai and will escort them to the NOCC.</small></i>
         <div class="row">
          <div class="col">
        <div class="form-floating my-2">
          {{ form.poc_name }}
          <label class="px-4" for="{{ form.poc_name.id_for_label}}"> POC Name <span style="color:#e70a0a">*</span></label>
          <i><small style="color:#e70a0a"> {{form.poc_name.errors }} </small></i>
        </div>
        </div>
        <div class="col">
        <div class="form-floating my-2">
          {{ form.poc_email }}
          <label class="px-4" for="{{ form.poc_email.id_for_label }}"> POC Akamai email <span style="color:#e70a0a">*</span></label>
          <i><small style="color:#e70a0a"> {{form.poc_email.errors }} </small></i>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="form-floating my-2">
            {{ form.cc_this_request_to }}
            <label class="px-4" for="{{ form.cc_this_request_to.id_for_label}}"> CC this request to:</label>
            <i><small style="color:#9e9e9e">CC more people in order to receive feedback form and invitation to event once it has been approved </small></i>
            <i><small style="color:#e70a0a"> {{form.cc_this_request_to.errors }} </small></i>
          </div>
        </div>
        <div class="row">
         <div class="form-floating my-2">
            {{ form.division }}
            <label class="px-4" for="{{ form.division.id_for_label}}"> Division <span style="color:#e70a0a">*</span></label>
            <i><small style="color:#e70a0a"> {{form.division.errors }} </small></i>
          </div>
        </div>
      </fieldset><br>

      <fieldset class="rounded p-2 my-2 bg-light shadow">
        <legend>Visitor Details</legend>
        <div class="row">
          <div class="col">
        <div class="form-floating my-2">
          {{ form.attendees_akamai }}
          <label class="px-4" for="{{ form.attendees_akamai.id_for_label}}"> Attendees - Akamai </label>
          <i><small style="color:#e70a0a"> {{form.attendees_akamai.errors }} </small></i>
        </div>
        </div>
        <div class="col">
        <div class="form-floating my-2">
          {{ form.attendees_guests }}
          <label class="px-4" for="{{ form.attendees_guests.id_for_label }}"> Attendees - Guest </label>
          <i><small style="color:#e70a0a"> {{form.attendees_guests.errors }} </small></i>
          </div>
          </div>
        </div>

        <div class="row">
        <div class="col">
        <div class="form-floating my-2">
          {{ form.customer_or_group_name }}
          <label class="px-4" for="{{ form.customer_or_group_name.id_for_label}}"> Customer or Group Name <span style="color:#e70a0a">*</span></label>
          <i><small style="color:#e70a0a"> {{form.customer_or_group_name.errors }} </small></i>
        </div>
        </div>
        <div class="col">
        <div class="form-floating my-2">

          {{ form.customers_website }}
            <label class="px-4" for="{{ form.customers_website.id_for_label}}"> Customer's website </label>
            <i><small style="color:#e70a0a"> {{form.customers_website.errors }} </small></i>

          
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
          <div class="form-floating my-2">

          {{ form.type_of_customers }}
          <label class="px-4" for="{{ form.type_of_customers.id_for_label }}"> Type of Customers <span style="color:#e70a0a">*</span></label>
          <i><small style="color:#e70a0a"> {{form.type_of_customers.errors }} </small></i>
             
           </div></div>

           <div class="col">
           <div class="form-floating my-2">
            
            {{ form.category }}
            <label class="px-4" for="{{ form.category.id_for_label}}"> Category <span style="color:#e70a0a">*</span> </label>
            <i><small style="color:#e70a0a"> {{form.category.errors }} </small></i>


          </div></div>
         </div>
         
         <div style='display:none;' class="form-check" id="has_opportunity_id">
          <input class="form-check-input" type="checkbox" value="yes" id="oportunity_ID_checkbox">
          <label class="form-check-label" for="oportunity_ID_checkbox">
            I already have my Salesforce Opportunity ID
          </label>
        </div>

        
          <div class="form-floating my-2" style='display:none;' id="opportunity_ID">
             {{ form.opportunity_ID }}
             <label class="px-4" for="{{ form.opportunity_ID.id_for_label}}"> Opportunity ID </label>
             <i><small style="color:#e70a0a"> {{form.opportunity_ID.errors }} </small></i>
           </div>

           <div style='display:none;' class="form-check" id="custom_welcome_screen_needed_id">
            <input class="form-check-input" type="checkbox" value="Yes" id="custom_welcome_screen_needed" name="custom_welcome_screen_needed">
            <label class="form-check-label" for="custom_welcome_screen_needed_checkbox">
              Custom welcome screen needed
            </label>
          </div>


        </fieldset><br>

      <fieldset class="rounded p-2 my-2 bg-light shadow">
        <legend></legend>
         <div class="row">
          <div class="form-floating my-2">
             {{ form.comment }}
             <label class="px-4" for="{{ form.comment.id_for_label}}"> Comment </label>
             <i><small style="color:#e70a0a"> {{form.comment.errors }} </small></i>
           </div>
         </div>


      </fieldset>

      </div>

      <!--  <div style='display:none;' id='opportunity_ID'>Opportunity ID<br/>&nbsp;
      <br/>&nbsp;
          <input type='text' class='text' name='opportunity_ID' value size='20' />
          <br/>
      </div> -->

        {{ form.non_field_errors }}
        {{ formset.non_field_errors }}

      
      <div class="px-4 py-3 my-3 text-center">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
      </form>
    

    <script type="text/javascript">

      options_end = []; // we will store ajax response here 

      $("#oportunity_ID_checkbox").click(function() {
        if($(this).is(":checked")) {
            $("#opportunity_ID").show();
        } else {
            $("#opportunity_ID").hide();
        }
    });

    $(document).ready(function(){

        $('#id_category').on('change', function() {
          if ( this.value == 'existing customer' || this.value ==  'new prospect')
          {
            $("#has_opportunity_id").show();
          }
          else
          {
            $("#has_opportunity_id").hide();
          }
        });
    });

    $('#id_location').on('change', function() {
    var date;
    var location;
    date = document.getElementById('id_date').value;
    location = document.getElementById('id_location').value;
    if ( location == '1')
          {
            $("#custom_welcome_screen_needed_id").show();
          }
          else
          {
            $("#custom_welcome_screen_needed_id").hide();
          }


    $.ajax(
    {
        type:"GET",
        url: "/avail-times/",
        data:{
              'date': date,
              'location': location,
        },
        success: function(response) {
            console.log(response['start_times']);
            console.log(response['end_times']);
            var select_start = document.getElementById("id_start_time");
            var select_end = document.getElementById("id_end_time");
            var options_start = response['start_times'];
            if (Object.keys(options_start).length === 0){
              console.log("No start times");
              $('#id_start_time').empty().append('<option selected="selected" value="">No available times</option>');
            } else {
            $('#id_start_time').empty().append('<option selected="selected" disabled value="">Choose available time</option>');
            for(let time in options_start) {
                var opt = time;
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                if (options_start[time] == 0) {
                  el.style.color = "#D3D3D3";
                  el.disabled = true;
                }
                select_start.appendChild(el);
            }}

            options_end = response['end_times']; //we need options_end to be global variable
            if (Object.keys(options_end).length === 0){
              console.log("No end times");
              $('#id_end_time').empty().append('<option selected="selected" value="">No end time</option>');
            } else {
            $('#id_end_time').empty().append('<option selected="selected" disabled value="">Choose end time</option>');
            for(let time in options_end) {
                var opt = time;
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                if (options_end[time] == 0) {
                  el.style.color = "#D3D3D3";
                  el.disabled = true;
                }
                select_start.appendChild(el);
            }}
            console.log("Should be start and end time");
          }
     })
    }).change();


    $('#id_date').on('change', function() {
    var date;
    var location;
    date = document.getElementById('id_date').value;
    location = document.getElementById('id_location').value;
    $.ajax(
    {
        type:"GET",
        url: "/avail-times/",
        data:{
              'date': date,
              'location': location,
        },
        success: function(response) {
            console.log(response['start_times']);
            console.log(response['end_times']);
            var select_start = document.getElementById("id_start_time");
            var select_end = document.getElementById("id_end_time");
            var options_start = response['start_times'];
            if (Object.keys(options_start).length === 0){
              console.log("No start times");
              $('#id_start_time').empty().append('<option selected="selected" value="">No available times</option>');
            } else {
            $('#id_start_time').empty().append('<option selected="selected" disabled value="">Choose available time</option>');
            for(let time in options_start) {
                var opt = time;
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                if (options_start[time] == 0) {
                  el.style.color = "#D3D3D3";
                  el.disabled = true;
                }
                select_start.appendChild(el);
            }}
            options_end = response['end_times']; //we need options_end to be global variable
            if (Object.keys(options_end).length === 0){
              console.log("No end times");
              $('#id_end_time').empty().append('<option selected="selected" value="">No end time</option>');
            } else {
            $('#id_end_time').empty().append('<option selected="selected" disabled value="">Choose end time</option>');
            for(let time in options_end) {
                var opt = time;
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                if (options_end[time] == 0) {
                  el.style.color = "#D3D3D3";
                  el.disabled = true;
                }
                select_end.appendChild(el);
            }}
            console.log("Should be start and end time");
          }
     })
    }).change();


    $('#id_start_time').on('change', function() {

        var options_end_filter = options_end.slice(0)

        let n = 0;
        let len = options_end_filter.length;


        while (n < len) {

          if (options_end_filter[0] === this.value) {
          options_end_filter.shift(); //we need to delete 1 more entry before break
          break;
          }
          options_end_filter.shift();
          n++;
        }

        if (options_end_filter.length === 0){
          options_end_filter =options_end.slice(0)
        }

        var select_end = document.getElementById("id_end_time");

        if (options_end_filter == ""){
            console.log("No end times");
            $('#id_end_time').empty().append('<option selected="selected" value="">No end time</option>');
          } else {
          $('#id_end_time').empty().append('<option selected="selected" disabled value="">Choose end time</option>');
          for(var i = 0; i < options_end_filter.length; i++) {
              var opt = options_end_filter[i];
              var el = document.createElement("option");
              el.textContent = opt;
              el.value = opt;
              select_end.appendChild(el);
          }}
        }).change();

</script>


{% endblock %}