{% extends 'base.html' %}

{% block content %}

  <div class="my-4 mx-4 col-lg-11 bg-light text-left">
    <div class="container-md mx-auto col-6">
      
      <h3 class="text-center"> New tour request form </h3>
        
       <form action="" method="post">
        {% csrf_token %}
        
     <!-- {% for field in form %}
          <div class="form-floating my-2">
            {{ field }}
            <label class="px-4" for="{{ field.auto_id }}"> {{ field.label }} </label>
            <i><small style="color:#9e9e9e">{{field.help_text}}</small></i></th>
            <i><small style="color:#e70a0a"> {{ field.errors }} </small></i>
          </div>
        {% endfor %}
      -->

      
        <fieldset class="rounded border p-2 my-2">
          <legend>Basic Information</legend>
          <div class="row">
            <div class="col">
          <div class="form-floating my-2">
            {{ form.requestor_name }}
            <label class="px-4" for="{{ form.requestor_name.id_for_label}}"> {{ form.requestor_name.label }} </label>
            <i><small style="color:#e70a0a"> {{form.requestor_name.errors }} </small></i>
          </div>
          </div>
          <div class="col">
          <div class="form-floating my-2">
            {{ form.requestor_email }}
            <label class="px-4" for="{{ form.requestor_email.id_for_label }}"> {{ form.requestor_email.label }} </label>
            <i><small style="color:#e70a0a"> {{form.requestor_email.errors }} </small></i>
            </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="rounded border p-2 my-2">
          <legend>Point of Contact</legend>
          <i><small style="color:#9e9e9e">The Point of Contact is the person who is responsible for this group from within Akamai and will escort them to the NOCC.</small></i>
         <div class="row">
          <div class="col">
        <div class="form-floating my-2">
          {{ form.poc_name }}
          <label class="px-4" for="{{ form.poc_name.id_for_label}}"> POC Name </label>
          <i><small style="color:#e70a0a"> {{form.poc_name.errors }} </small></i>
        </div>
        </div>
        <div class="col">
        <div class="form-floating my-2">
          {{ form.poc_email }}
          <label class="px-4" for="{{ form.poc_email.id_for_label }}"> POC Akamai email </label>
          <i><small style="color:#e70a0a"> {{form.poc_email.errors }} </small></i>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="form-floating my-2">
            {{ form.cc_this_request_to }}
            <label class="px-4" for="{{ form.cc_this_request_to.id_for_label}}"> CC this request to:</label>
            <i><small style="color:#9e9e9e">CC more people in order to receive feedback form and invitation to event once it has been approved </small></i>
            <i><small style="color:#e70a0a"> {{form.cc_this_request_to.errors }} </small></i>
          </div>
        </div>
        <div class="row">
         <div class="form-floating my-2">
            {{ form.division }}
            <label class="px-4" for="{{ form.division.id_for_label}}"> Division </label>
            <i><small style="color:#e70a0a"> {{form.division.errors }} </small></i>
          </div>
        </div>
      </fieldset>



      <fieldset class="rounded border p-2 my-2">
        <legend>Visit details</legend>
        <div class="row">
          <div class="col">
        <div class="form-floating my-2">
          {{ form.location }}
          <label class="px-4" for="{{ form.location.id_for_label}}"> {{ form.location.label }} </label>
          <i><small style="color:#e70a0a"> {{form.location.errors }} </small></i>
        </div>
        </div>
        <div class="col">
        <div class="form-floating my-2">
          {{ form.nocc_personnel_required }}
          <label class="px-4" for="{{ form.nocc_personnel_required.id_for_label }}"> {{ form.nocc_personnel_required.label }} </label>
          <i><small style="color:#e70a0a"> {{form.nocc_personnel_required.errors }} </small></i>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
        <div class="form-floating my-2">
          {{ form.date }}
          <label class="px-4" for="{{ form.date.id_for_label}}"> {{ form.date.label }} </label>
          <i><small style="color:#e70a0a"> {{form.date.errors }} </small></i>
        </div>
        </div>


        <div class="col">
        <div class="form-floating my-2">
          <select id="id_time_slot_selection" name="time_slot_selection" class="form-control form-control-sm" placeholder="Time slot selection" required>
          {% for slot in time_slots %}
          <option value="{{slot}}">{{slot}}</option>{{slot}}
          {% endfor %}
          </select>
          <label class="px-4" for="id_time_slot_selection"> Time slot selection </label>
          </div>
          </div>
        </div>


        
      </fieldset>

      <fieldset class="rounded border p-2 my-2">
        <legend>Visitor Details</legend>
        <div class="row">
          <div class="col">
        <div class="form-floating my-2">
          {{ form.attendees_akamai }}
          <label class="px-4" for="{{ form.attendees_akamai.id_for_label}}"> Attendees - Akamai </label>
          <i><small style="color:#e70a0a"> {{form.attendees_akamai.errors }} </small></i>
        </div>
        </div>
        <div class="col">
        <div class="form-floating my-2">
          {{ form.attendees_guests }}
          <label class="px-4" for="{{ form.attendees_guests.id_for_label }}"> Attendees - Guest </label>
          <i><small style="color:#e70a0a"> {{form.attendees_guests.errors }} </small></i>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
        <div class="form-floating my-2">
          {{ form.customer_or_group_name }}
          <label class="px-4" for="{{ form.customer_or_group_name.id_for_label}}"> Customer or Group Name </label>
          <i><small style="color:#e70a0a"> {{form.customer_or_group_name.errors }} </small></i>
        </div>
        </div>
        <div class="col">
        <div class="form-floating my-2">
          {{ form.type_of_customers }}
          <label class="px-4" for="{{ form.type_of_customers.id_for_label }}"> Type of Customers </label>
          <i><small style="color:#e70a0a"> {{form.type_of_customers.errors }} </small></i>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="form-floating my-2">
             {{ form.category }}
             <label class="px-4" for="{{ form.category.id_for_label}}"> Category </label>
             <i><small style="color:#e70a0a"> {{form.category.errors }} </small></i>
           </div>
         </div>
         
         <div style='display:none;' class="form-check" id="has_opportunity_id">
          <input class="form-check-input" type="checkbox" value="yes" id="oportunity_ID_checkbox">
          <label class="form-check-label" for="oportunity_ID_checkbox">
            I already have my Salesforce Opportunity ID
          </label>
        </div>

        
          <div class="form-floating my-2" style='display:none;' id="opportunity_ID">
             {{ form.opportunity_ID }}
             <label class="px-4" for="{{ form.opportunity_ID.id_for_label}}"> Opportunity ID </label>
             <i><small style="color:#e70a0a"> {{form.opportunity_ID.errors }} </small></i>
           </div>

        </fieldset>

      <fieldset class="rounded border p-2 my-2">
        <legend>Comment</legend>
         <div class="row">
          <div class="form-floating my-2">
             {{ form.comment }}
             <label class="px-4" for="{{ form.comment.id_for_label}}"> Comment </label>
             <i><small style="color:#e70a0a"> {{form.comment.errors }} </small></i>
           </div>
         </div>


      </fieldset>

      </div>

      <!--  <div style='display:none;' id='opportunity_ID'>Opportunity ID<br/>&nbsp;
      <br/>&nbsp;
          <input type='text' class='text' name='opportunity_ID' value size='20' />
          <br/>
      </div> -->


        {{ form.non_field_errors }}
      
      <div class="px-4 py-3 my-3 text-center">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
      </form>


    </div>
    

    <script type="text/javascript">
      $("#oportunity_ID_checkbox").click(function() {
        if($(this).is(":checked")) {
            $("#opportunity_ID").show();
        } else {
            $("#opportunity_ID").hide();
        }
    });

    $(document).ready(function(){
        $('#id_category').on('change', function() {
          if ( this.value == 'existing customer' || this.value ==  'new prospect')
          {
            $("#has_opportunity_id").show();
          }
          else
          {
            $("#has_opportunity_id").hide();
          }
        });
    });
    </script>

{% endblock %}