{% extends 'base.html' %}

{% block content %}

  <div class="my-4 mx-4 col-lg-11 bg-light text-center">
      <h3>New tour request form </h3>
      <hr>
      <div class="mb-2 col-5 ">
      <form class="col gy-3 justify-content-center" action="" method="post">
        {% csrf_token %}
      {% for field in form %}
          <div class="form-floating justify-content-center">
            {{ field }}
            <label class="px-4" for="{{ field.auto_id }}"> {{ field.label }} </label>
            <i><small style="color:#9e9e9e">{{field.help_text}}</small></i></th>
            <i><small style="color:#e70a0a"> {{ field.errors }} </small></i>
          </div>
        {% endfor %}
        {{ form.non_field_errors }}
      </div>
      <div class="px-4 py-3 my-3 text-center">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
      </form>
      </div>

{% endblock %}