{% extends "base.html" %}
{% block content %}

<h3>Settings</h3> 
  <hr>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-cambridge-tab" data-bs-toggle="tab" data-bs-target="#nav-cambridge" type="button" role="tab" aria-controls="nav-cambridge" aria-selected="true">Cambridge</button>
      <button class="nav-link" id="nav-krakow-tab" data-bs-toggle="tab" data-bs-target="#nav-krakow" type="button" role="tab" aria-controls="nav-krakow" aria-selected="false">Krakow</button>
      <button class="nav-link" id="nav-bangalore-tab" data-bs-toggle="tab" data-bs-target="#nav-bangalore" type="button" role="tab" aria-controls="nav-bangalore" aria-selected="false">Bangalore</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-cambridge" role="tabpanel" aria-labelledby="nav-cambridge-tab" tabindex="0">

        <div class="container-md mx-auto col-8">
          <fieldset class="rounded border p-2 my-2">
              <legend>Set availabilities for following dates</legend>

              <form action="" method="post">
                {% csrf_token %}

                <input type="hidden" id="id_location" name="location" value="Cambridge">

                <div class="form-floating my-2">
                 <input type="date" id="id_from_date" name="from_date" class="form-control form-control-sm" placeholder="From" required> </input>
                  <label class="px-4" for="id_date_from"> From </label>
                </div>

                <div class="form-floating my-2">
                  <input type="date" id="id_to_date" name="to_date" class="form-control form-control-sm" placeholder="To" required> </input>
                  <label class="px-4" for="id_to_date"> To </label>
                 </div>

                 <div class="input-group mb-3">
                 <div class="form-floating my-2">
                 <textarea class="form-control" rows="1" cols="40" aria-label="time_slots" aria-describedby="button-addon2" id="id_time_slots" name="time_slots"></textarea>
                 <label class="px-4" for="id_time_slots"> Time slots <i><small style="color:#9e9e9e"> (example: 8:00-9:00,12:00-13:00,13:00-14:00)</small></i></label>
                </div>
              </div>
            </fieldset>
              <div class="px-4 py-3 my-3 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>

              </form>

                  <h4>Edit NOCC representatives list</h4> 
                  <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="id_location" name="location" value="Cambridge">
                    <div class="input-group mb-3">
                      <textarea class="form-control" rows="1" cols="50" aria-label="nocc_representatives_list" aria-describedby="button-addon2" id="nocc_representatives_list" name="nocc_representatives_list">{{nocc_representatives_list_cambridge}}</textarea>
                      <button class="btn btn-primary" type="submit" id="button-addon2">Update</button>
                    </div> 
                    </form>
              

              <br><br>
              <h4>See upcomming availabilities</h4> 
              <hr>
              <input class="form-control" id="myInput" type="text" placeholder="Search..">
              <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                        <tr>
                            <th>Date</th>
                            <th>Time slots</th>
                        </tr>

                        <tbody id="myTable">
                        {%for item in availability_data_cambridge %}
                        <tr>
                            <td>{{item.avail_date}}</td>
                            <td>{{item.time_slots}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              
                </div>


    </div>
    <div class="tab-pane fade" id="nav-krakow" role="tabpanel" aria-labelledby="nav-krakow-tab" tabindex="0">



        <br><br>

        Krakow soon


        <br><br>

    </div>
    <div class="tab-pane fade" id="nav-bangalore" role="tabpanel" aria-labelledby="nav-bangalore-tab" tabindex="0">



        <br><br>


        Bangalore soon

    <br><br>


    </div>
</div>
  

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>

{% endblock %}