{% extends "base.html" %}
{% block content %}

<h3>Settings</h3> 
  <hr>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-cambridge-tab" data-bs-toggle="tab" data-bs-target="#nav-cambridge" type="button" role="tab" aria-controls="nav-cambridge" aria-selected="true">Cambridge</button>
      <button class="nav-link" id="nav-krakow-tab" data-bs-toggle="tab" data-bs-target="#nav-krakow" type="button" role="tab" aria-controls="nav-krakow" aria-selected="false">Krakow</button>
      <button class="nav-link" id="nav-bangalore-tab" data-bs-toggle="tab" data-bs-target="#nav-bangalore" type="button" role="tab" aria-controls="nav-bangalore" aria-selected="false">Bangalore</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-cambridge" role="tabpanel" aria-labelledby="nav-cambridge-tab" tabindex="0">


        <div class="container-md mx-auto col-6">
          <fieldset class="rounded border p-2 my-2">
              <legend>Set availabilities for a single day</legend>
              <form class="row row-cols-lg-auto g-3 align-items-center" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-floating my-2">
                    {{ field }}
                    <label class="px-4" for="{{ field.auto_id }}"> {{ field.label }} </label>
                   <i><small style="color:#9e9e9e">{{ field.help_text }}</small></i> 
                   <i><small style="color:#e70a0a">{{ field.errors }}</small></i>
                  </div>
                {% endfor %}
                <i><small style="color:#9e9e9e">Comma separated list of available time slots i.e. 8:00-9:00,12:00-13:00,13:00-14:00 </small></i>
                {{ form.non_field_errors }}
              </fieldset>
              
              <div class="px-4 py-3 my-3 text-center">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
              </form>
          
              
                  <h4>Edit NOCC representatives list</h4> 
                  <form action="" method="post">
                    {% csrf_token %}
          
                    <div class="input-group mb-3">
                      <textarea readonly class="form-control" rows="1" cols="50" aria-label="Feedback" aria-describedby="button-addon2" id="nocc_representatives_list" name="nocc_representatives_list"></textarea>
                      <button class="btn btn-primary" type="submit" id="button-addon2">Update</button>
                    </div> 
                    </form>
          
              </div>




    </div>
    <div class="tab-pane fade" id="nav-krakow" role="tabpanel" aria-labelledby="nav-krakow-tab" tabindex="0">



        <br><br>

        Krakow availabilities soon


        <br><br>

    </div>
    <div class="tab-pane fade" id="nav-bangalore" role="tabpanel" aria-labelledby="nav-bangalore-tab" tabindex="0">



        <br><br>


    Bangalore availabilities soon

    <br><br>


    </div>
</div>
  



{% endblock %}