{% extends "base.html" %}
{% block content %}

<h3>Settings</h3>
  <hr>

<div class="container-md mx-auto col-8 mt-3">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-cambridge-tab" data-bs-toggle="tab" data-bs-target="#nav-cambridge" type="button" role="tab" aria-controls="nav-cambridge" aria-selected="true">Cambridge</button>
      <button  class="nav-link" id="nav-krakow-tab" data-bs-toggle="tab" data-bs-target="#nav-krakow" type="button" role="tab" aria-controls="nav-krakow" aria-selected="false" >Krakow</button>
      <button class="nav-link" id="nav-bangalore-tab" data-bs-toggle="tab" data-bs-target="#nav-bangalore" type="button" role="tab" aria-controls="nav-bangalore" aria-selected="false">Bangalore</button>
    </div>
 </nav>

  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-cambridge" role="tabpanel" aria-labelledby="nav-cambridge-tab" tabindex="0">

      <fieldset class="rounded border p-2 my-2">
        <div class="container-md mx-auto mt-3">
          
              <h4>Set availabilities for following dates</h4> 
              <hr>

              <form action="" method="post">
                {% csrf_token %}
                

                <input type="hidden" id="id_location" name="location" value="Cambridge">
                <div class="input-group mb-3">
                    <span class="input-group-text">From</span>
                    <input type="date" id="id_from_date" name="from_date" class="form-control form-control-sm" placeholder="From" required> </input>
                    <span class="input-group-text">To</span>
                    <input type="date" id="id_to_date" name="to_date" class="form-control form-control-sm" placeholder="To" required> </input>
                    <span class="input-group-text">Availability time frame</span>
                    <input type="text" class="form-control" aria-label="avail_time" aria-describedby="button-addon2" id="id_avail_time" name="avail_time" placeholder="e.g. 8:00-16:00" required></input>
                    <button class="btn btn-primary" type="submit" id="button-addon2">Set</button>
                </div>
                
              </form>
            
        </div></fieldset>

        <fieldset class="rounded border p-2 my-2">
        <div class="container-md mx-auto mt-3">
                  <h4 class="mt-5"> Edit NOCC representatives list</h4> 
                  <hr>
                  <h5>Add new person</h5>
                  <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="id_location" name="location" value="Cambridge">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Name" aria-label="Name" id="name" name="name" required>
                      <span class="input-group-text"></span>
                      <input type="text" class="form-control" placeholder="Email" aria-label="Email" id="email" name="email" required>
                      <button class="btn btn-primary" type="submit" id="button-addon2">Add</button>
                    </div>

                    </form>
                    <h5>Current NOCC representatives</h5> 
                    <div class="table-responsive">
                      <table class="table table-hover table-sm table-borderless table-striped">
                              <tr>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th></th>
                              </tr>
                              {% for person in nocc_representatives_list_cambridge %}
                              <tr>
                                <td>{{person.name}}</td>
                                <td>{{person.email}}</td>
                                <td class="text-end">
                                  <form action="" method="post">
                                    {% csrf_token %}
                                  <input type="hidden" id="id_location" name="location" value="Cambridge">
                                  <input type="hidden" id="person_id" name="person_id" value="{{person.id}}">
                                  <button class="btn btn-danger btn-sm" ">Delete</button>
                                </form></td>
                              </tr>
                              {% endfor %}
                      </table>
                    </div>
                    
          </div></fieldset>

          <fieldset class="rounded border p-2 my-2">
              <div class="table-responsive container-md mx-auto mt-3">
              <h4>See upcomming availabilities</h4> 
              <hr>
              <input class="form-control" id="myInput1" type="text" placeholder="Search..">
                <table class="table table-sm">
                        <tr>
                            <th>Date</th>
                            <th>Time frame</th>
                        </tr>

                        <tbody class="table-group-divider" id="myTable1">
                        {%for item in availability_data_cambridge %}
                        <tr>
                            <td>{{item.avail_date}}</td>
                            <td>{{item.avail_time}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
              </fieldset>
              
    </div>
    

    <div class="tab-pane fade" id="nav-krakow" role="tabpanel" aria-labelledby="nav-krakow-tab" tabindex="0">


      <div class="container-md mx-auto mt-5">

        <h4>Set availabilities for following dates</h4> 
        <hr>

        <form action="" method="post">
          {% csrf_token %}

          <input type="hidden" id="id_location" name="location" value="Krakow">
          <div class="input-group mb-3">
              <span class="input-group-text">From</span>
              <input type="date" id="id_from_date" name="from_date" class="form-control form-control-sm" placeholder="From" required> </input>
              <span class="input-group-text">To</span>
              <input type="date" id="id_to_date" name="to_date" class="form-control form-control-sm" placeholder="To" required> </input>
              <span class="input-group-text">Availability time frame</span>
              <input type="text" class="form-control" aria-label="avail_time" aria-describedby="button-addon2" id="id_avail_time" name="avail_time" placeholder="e.g. 8:00-16:00" required></input>
              <button class="btn btn-primary" type="submit" id="button-addon2">Set</button>
          </div>
        </form>
      </div>



        <div class="container-md mx-auto mt-5">
          <h4 class="mt-5"> Edit NOCC representatives list</h4> 
          <hr>
          <h5>Add new person</h5>
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" id="id_location" name="location" value="Krakow">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Name" aria-label="Name" id="name" name="name" required>
              <span class="input-group-text"></span>
              <input type="text" class="form-control" placeholder="Email" aria-label="Email" id="email" name="email" required>
              <button class="btn btn-primary" type="submit" id="button-addon2">Add</button>
            </div>

            </form>
            <h5>Current NOCC representatives</h5> 
            <div class="table-responsive">
              <table class="table table-hover table-sm table-borderless table-striped">
                      <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th></th>
                      </tr>
                      {% for person in nocc_representatives_list_krakow %}
                      <tr>
                        <td>{{person.name}}</td>
                        <td>{{person.email}}</td>
                        <td class="text-end">
                          <form action="" method="post">
                            {% csrf_token %}
                          <input type="hidden" id="id_location" name="location" value="Krakow">
                          <input type="hidden" id="person_id" name="person_id" value="{{person.id}}">
                          <button class="btn btn-danger btn-sm">Delete</button>
                        </form></td>
                      </tr>
                      {% endfor %}
              </table>
            </div>
            
      </div>      

        <br>
        <div class="table-responsive container-md mx-auto mt-5">
        <h4>See upcomming availabilities</h4> 
        <hr>
        <input class="form-control" id="myInput2" type="text" placeholder="Search..">
          <table class="table table-sm">
                  <tr>
                      <th>Date</th>
                      <th>Time frame</th>
                  </tr>

                  <tbody class="table-group-divider" id="myTable2">
                  {% for item in availability_data_krakow %}
                  <tr>
                      <td>{{item.avail_date}}</td>
                      <td>{{item.avail_time}}</td>

                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>


    </div>

    <div class="tab-pane fade" id="nav-bangalore" role="tabpanel" aria-labelledby="nav-bangalore-tab" tabindex="0">

      <div class="container-md mx-auto mt-5">

        <h4>Set availabilities for following dates</h4> 
        <hr>


        <form action="" method="post">
          {% csrf_token %}

          <input type="hidden" id="id_location" name="location" value="Bangalore">
          <div class="input-group mb-3">
              <span class="input-group-text">From</span>
              <input type="date" id="id_from_date" name="from_date" class="form-control form-control-sm" placeholder="From" required> </input>
              <span class="input-group-text">To</span>
              <input type="date" id="id_to_date" name="to_date" class="form-control form-control-sm" placeholder="To" required> </input>
              <span class="input-group-text">Availability time frame</span>
              <input type="text" class="form-control" aria-label="avail_time" aria-describedby="button-addon2" id="id_avail_time" name="avail_time" placeholder="e.g. 8:00-16:00" required></input>
              <button class="btn btn-primary" type="submit" id="button-addon2">Set</button>
          </div>
        </form>
      </div>


      <div class="container-md mx-auto mt-5">
        <h4 class="mt-5"> Edit NOCC representatives list</h4> 
        <hr>
        <h5>Add new person</h5>
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" id="id_location" name="location" value="Bangalore">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" id="name" name="name" required>
            <span class="input-group-text"></span>
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" id="email" name="email" required>
            <button class="btn btn-primary" type="submit" id="button-addon2">Add</button>
          </div>

          </form>
          <h5>Current NOCC representatives</h5> 
          <div class="table-responsive">
            <table class="table table-hover table-sm table-borderless table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    {% for person in nocc_representatives_list_bangalore %}
                    <tr>
                      <td>{{person.name}}</td>
                      <td>{{person.email}}</td>
                      <td class="text-end">
                        <form action="" method="post">
                          {% csrf_token %}
                        <input type="hidden" id="id_location" name="location" value="Bangalore">
                        <input type="hidden" id="person_id" name="person_id" value="{{person.id}}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                      </form></td>
                    </tr>
                    {% endfor %}
            </table>
          </div>
          
    </div>




        <br>
        <div class="table-responsive container-md mx-auto mt-5">
        <h4>See upcomming availabilities</h4> 
        <hr>
        <input class="form-control" id="myInput3" type="text" placeholder="Search..">
          <table class="table table-sm">
                  <tr>
                      <th>Date</th>
                      <th>Time frame</th>
                  </tr>

                  <tbody class="table-group-divider" id="myTable3">
                  {%for item in availability_data_bangalore %}
                  <tr>
                      <td>{{item.avail_date}}</td>
                      <td>{{item.avail_time}}</td>

                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>


  </div>
</div>



<script>
  $(document).ready(function(){
    $("#myInput1").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable1 tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });

    $("#myInput2").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable2 tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });

    $("#myInput3").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable3 tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });

  });
  </script>

{% endblock %}