{% extends 'base.html' %}

{% block content %}


  <div class="text-start container-md mx-auto style='font-size:90%'">
    <div class="row">
      <div class="col"> <h4> <b> Tour "{{tour_data.tour_name}}" </b></h4></div>

      <div class="btn-group btn-group-sm col justify-content-md-end" role="group">
        <form action="/status-change/{{ tour_data.id }}/" method="POST" id="status-change">
          {% csrf_token %}
      <input type="radio" class="btn-check" value="Rejected" name="f_status" id="danger-outlined" autocomplete="off" {% if tour_data.status == "Rejected" %} checked {% endif %} onclick="this.form.submit()">
      <label class="btn btn-outline-danger" for="danger-outlined">Rejected</label>

      <input type="radio" class="btn-check" value="Requested" name="f_status" id="warning-outlined" autocomplete="off" {% if tour_data.status == "Requested" %} checked {% endif %} onclick="this.form.submit()">
      <label class="btn btn-outline-warning" for="warning-outlined">Requested</label>

      <input type="radio" class="btn-check" value="Approved" name="f_status" id="success-outlined" autocomplete="off" {% if tour_data.status == "Approved" %} checked {% endif %} onclick="this.form.submit()">
      <label class="btn btn-outline-success" for="success-outlined">Approved</label>

      <input type="radio" class="btn-check" value="Canceled" name="f_status" id="secondary-outlined" autocomplete="off" {% if tour_data.status == "Canceled" %} checked {% endif %} onclick="this.form.submit()">
      <label class="btn btn-outline-secondary" for="secondary-outlined">Canceled</label>

        </form>
      </div>
  
</div>
</div>

    <div class="container-md mx-auto" style='font-size:85%'>
      <hr>
      <div class="container">
      <form action="" method="post">
        {% csrf_token %}
        <div class="my-2 row">
        {% for field in form_edit %}
          <div class="col-md">
            <label class="mx-2" for="{{ field.auto_id }}"> <b> {{ field.label }} </b></label>
            {% if field.name == "location" %}
                <input id="id_location" name="location" class="form-control form-control-sm" placeholder="Location" value="{{ selected_location }}" disabled></input>
            {%elif field.name == "nocc_person_assigned"%}
                <select id="id_nocc_person_assigned" name="nocc_person_assigned" class="form-control form-control-sm" placeholder="NOCC person assigned">
                <option value="None">None</option>
                {% for person in nocc_representatives_list %}
                  {%if person.name == selected_nocc_representative %}
                      <option value="{{person.name}}" selected>{{person.name}}</option>
                  {%else%}
                      <option value="{{person.name}}">{{person.name}}</option>
                  {%endif%}
                {%endfor%}
              </select>

            {% else %}

              {{ field }}

            {% endif %}

            <i><small style="color:#e70a0a">{{ field.errors }}</small></i>
          </div>

          {% if forloop.counter|divisibleby:"5" %}
        </div> <div class="row">
                    {% endif %}

        {% endfor %}
        <div class="my-2 col-md">
          <input id="id_created" name="created" class="form-control form-control-sm" placeholder="Form submitted" value="{{tour_data.created}}" disabled></input>
          <label class="mx-2" for="{{ field.auto_id }}"><b> Form submitted </b> </label>
          </div>
        </div>
      </div>
          
        
          {{ form.non_field_errors }}
        
      <div class="px-4 py-3 my-3 text-center">
      <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </fieldset>
    </div>
    </form>
  

      
    
    <div class="px-4 py-3 my-3 text-start container-md mx-auto style='font-size:90%'">
      <h4>Feedback results</h4>
      <hr>
      {% if tour_data.feedback_status == 'Provided' %}
      <div class="row">
      {% for field in form_feedback %}
      <div class="form-floating my-2 col-md">
        {{ field }}
        <label class="px-4" for="{{ field.auto_id }}"> {{ field.label }} </label>
        <i><small style="color:#e70a0a">{{ field.errors }}</small></i>
        </div>

        {% if forloop.counter|divisibleby:"5" %}
        </div> <div class="row">
        {% endif %}

      {%  endfor  %}
      </div>
      
      {% else %}

      <form action="/ask-for-feedback/{{ tour_data.id }}/" method="POST" id="ask_for_feedback">
        {% csrf_token %}
      <div class="px-4 py-3 my-3 text-center">

        <h5> Feedback status is "{{tour_data.feedback_status}}"", You can send email request manually by pressing below button</h5>
        <br><br>

        <button class="btn btn-primary" type="submit" id="button-addon2">Ask for feedback</button>
      </div> 
      </form>

      {% endif %}
      </div>




{% endblock %}
