{% extends 'base.html' %}

{% block content %}

<h3>Tour details</h3>
    <hr>

    <div class="container-md mx-auto col-6">
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form_edit %}
          <div class="form-floating my-2">
            {% if field.name == "location" %}
            <input id="id_location" name="location" class="form-control form-control-sm" placeholder="Location" value="{{ selected_location }}" disabled></input>
            {%elif field.name == "nocc_person_assigned"%}
              <select id="id_nocc_person_assigned" name="nocc_person_assigned" class="form-control form-control-sm" placeholder="NOCC person assigned">
                <option value="None">None</option>
                {% for person in nocc_representatives_list %}
                  {%if person == selected_nocc_representative %}
                  <option value="{{person}}" selected>{{person}}</option>
                  {%else%}
                  <option value="{{person}}">{{person}}</option>
                  {%endif%}
                {%endfor%}
              </select>

            {% else %}

              {{ field }}

            {% endif %}

            <label class="px-4" for="{{ field.auto_id }}"> {{ field.label }} </label>
            <i><small style="color:#e70a0a">{{ field.errors }}</small></i>
          </div>
          {% endfor %}
        
          {{ form.non_field_errors }}
        
      <div class="px-4 py-3 my-3 text-center">
      <button type="submit" class="btn btn-primary btn-lg">Update</button>
      </div>
    </fieldset>
    </div>
    </form>
  

      
      <div class="text-center container-md mx-auto col-6">
        <h4 class="text-start">Tour status</h4>
      <hr>
      <form action="/status-change/{{ tour_data.id }}/" method="POST" id="status-change">
        {% csrf_token %}
      <div class="btn-group px-4 py-3 my-3 text-center" role="group">
      <input type="radio" class="btn-check" value="Rejected" name="f_status" id="danger-outlined" autocomplete="off" {% if tour_data.status == "Rejected" %} checked {% endif %} onclick="this.form.submit()">
      <label class="btn btn-outline-danger" for="danger-outlined">Rejected</label>

      <input type="radio" class="btn-check" value="Requested" name="f_status" id="warning-outlined" autocomplete="off" {% if tour_data.status == "Requested" %} checked {% endif %} onclick="this.form.submit()">
      <label class="btn btn-outline-warning" for="warning-outlined">Requested</label>

      <input type="radio" class="btn-check" value="Approved" name="f_status" id="success-outlined" autocomplete="off" {% if tour_data.status == "Approved" %} checked {% endif %} onclick="this.form.submit()">
      <label class="btn btn-outline-success" for="success-outlined">Approved</label>

      <input type="radio" class="btn-check" value="Canceled" name="f_status" id="secondary-outlined" autocomplete="off" {% if tour_data.status == "Canceled" %} checked {% endif %} onclick="this.form.submit()">
      <label class="btn btn-outline-secondary" for="secondary-outlined">Canceled</label>
    </div>
      </form>
    </div>

    <div class="px-4 py-3 my-3 text-center container-md mx-auto col-6">
      <h4 class="text-start">Feedback results</h4>
      <hr>
      {% for field in form_feedback %}
      <div class="form-floating my-2">
        {{ field }}
        <label class="px-4" for="{{ field.auto_id }}"> {{ field.label }} </label>
        <i><small style="color:#e70a0a">{{ field.errors }}</small></i>
        </div>
      {%  endfor  %}
        

      <form action="/ask-for-feedback/{{ tour_data.id }}/" method="POST" id="ask_for_feedback">
        {% csrf_token %}
      <div class="px-4 py-3 my-3 text-center">
        <button class="btn btn-primary" type="submit" id="button-addon2">Ask for feedback</button>
      </div> 
      </form>
      </div>




{% endblock %}
