{% extends 'base.html' %}

{% block content %}

  <div class="col-lg-11 mx-auto bg-light">
      <h2>Tour details</h2>
      <hr>
      <div class="mb-2 px-4">
      <form class="row gx-4 gy-3" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="col-sm">
             {{ field.label_tag }} {{ field }} <i><small style="color:#9e9e9e">{{ field.help_text }}</small></i> <i><small style="color:#e70a0a">{{ field.errors }}</small></i>
          </div>
        {% endfor %}
        {{ form.non_field_errors }}
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>        
      </div>
      <div class="px-4 py-3 my-3 text-center">
      <button type="submit" class="btn btn-primary btn-lg">Update</button>
      </div>
      </form>
      </div>

  <div class="b-example-divider"></div>

{% endblock %}
